*{
    margin: 0;
    padding: 0;
}

/* Seccion de menu */

header{
    width: 100%;
    height: 20vh;
    background-color: rgb(178, 252, 178);
}

/* Menu de secciones */



/* secciones */

.seccion1{
    width: 80%;
    height: 30vh;
    background-color: rgb(198, 226, 198);
}

.seccion2{
    width: 80%;
    height: 30vh;
}

.seccion3{
    width: 80%;
    height: 30vh;
    background-color: rgb(198, 226, 198);
}

/* Menu de redes socialez de la empresa */
footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(142, 255, 142);
}